.ProductDetailBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ProductDetailTitleBox {
  width: 100%;
  height: 452px;
  position: relative;

  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    filter: brightness(0.5);
    position: absolute;
    z-index: -1;
    //background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text {
    width: 30%;
    height: auto;
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    //text-align: center;
    color: white;
  }
}

.PDAbout {
  width: 100%;
  height: auto;
  min-height: 800px;
  display: flex;
  margin: 10px 0;
}

.PDAboutLeft {
  width: 476px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 0 10px auto;

  .LeftImageBox {
    width: 390px;
    height: 470px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-radius: 10px;

    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
      width: 100%;
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: all 0.5s;
      transform: scale(1);
      border-radius: 10px;

      &:hover {
        transform: scale(1.1);
        transition: all 0.5s;
      }
    }
  }

  .LeftImageListBox {
    width: 100%;
    height: 100px;
    display: flex;
    margin-top: 30px;
    //border: #e66c00 1px solid;
    padding: 0 28px;

    .LeftImageList {
      width: 90px;
      height: 90px;
      margin: auto 10px;
      border-radius: 10px;
      cursor: pointer;
      overflow: hidden;
      position: relative;

      img {
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: all 0.5s;
        transform: scale(1);
        border-radius: 10px;
      }
    }
  }
}

.PDAboutRight {
  width: 666px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 25px auto 10px 0;
}

.PDRTitle {
  width: 100%;
  height: 30px;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 10px auto;
}

.PDRAmount {
  width: 100%;
  height: 30px;
  font-size: 28px;
  color: #e66c00;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.Score {
  width: 100%;
  height: 30px;
  margin: 0 auto;
}

.ProductIntroduction {
  width: 100%;
  height: auto;
  min-height: 150px;
  margin: 10px 0;
  border-top: #cccccc 1px solid;
  border-bottom: #cccccc 1px solid;
  padding: 10px 0;
  display: flex;
  flex-direction: column;

  .PID {
    width: 100%;
    height: auto;
    min-height: 30px;
    margin: 10px auto 0 auto;

    .spanTag {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;

      .el-tag {
        margin: 5px;
      }
    }
  }
}

.Operation {
  width: 100%;
  height: auto;
  padding: 10px 0;
  display: flex;

  .AddCart {
    width: 150px;
    height: 60px;
    border-radius: 20px;
    margin: 0;
    border: none;
    background-color: #f87f0f;
    color: white;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    span {
      position: relative;
      z-index: 2;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background-color: #d86700; /* 遮罩层颜色和透明度 */
      transition: height 0.3s ease-in-out; /* 动画效果 */
    }

    &:hover::before {
      height: 100%;
    }
  }

  .Collection {
    width: 80px;
    height: 60px;
    border-radius: 20px;
    margin: 0 10px;
    border: none;
    background-color: white;
    box-shadow: 0 0 10px 0 #e9e9e9;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
}

.Hash {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 15px;

  .HashTitle {
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .HashValue {
    width: 100%;
    height: auto;
    font-size: 17px;
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    flex-wrap: wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    overflow-y: auto;
    border: #cccccc 1px solid;
    padding: 10px;
    border-radius: 5px;
  }
}

.Supplement {
  width: 100%;
  height: auto;
  min-height: 400px;
  background: #f7f7f7;
  display: flex;
}

.SupplementMinBox {
  width: 1172px;
  height: auto;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  margin: 50px auto 20px auto;
}

.SupplementTableContents {
  width: 100%;
  height: 50px;
  display: flex;

  .SupplementTableContentsBox {
    width: 500px;
    height: 50px;
    display: flex;
    margin: auto;
  }

  .SupplementTableContentsBoxSpan {
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      color: #e66c00;
    }
  }
  .SupplementTableContentsBoxSpanActive {
    color: #e66c00;
  }
}

.SupplementContents {
  width: 95%;
  height: auto;
  margin: 10px auto;
  min-height: 300px;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  background: white;
}

.Description {
  width: 100%;
  height: auto;
  padding: 10px;

  .DescriptionTitle {
    font-size: 25px;
    font-weight: bold;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.AdditionalInformation {
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  .Title {
    font-size: 25px;
    font-weight: bold;
  }

  .AdditionalInformationDescriptions {
    margin-top: 15px;
  }
}

.Reviews {
  width: 100%;
  height: auto;
  padding: 10px;
}

.Tracing {
  width: 100%;
  height: auto;
  padding: 10px;
}
